
<center>
  <h1>This Month's Sales Flyer</h1>
    <h2>25% off</h2>
      <h5>(list price in stock items)</h5>
</center>

<center>
<div class="row">

  <div class="col-md-6">
    <div class="pad">
      <h3>ATS KG & Flowing</h3>
      <ul class="list-unstyled" style="font-size: 15pt">
        <h5><li>Sales Price</li></h5>	
        <li>Quart	&nbsp &nbsp 	&nbsp  $15.00</li>
        <li>Gallon	&nbsp &nbsp &nbsp  $45.00</li>
        <li>5 Gallon	&nbsp $149.75</li>
      </ul>
    </div>  
  </div> 
  
  <div class="col-md-6">
    <div class="pad">
      <h3>ATS KG & Flowing</h3>
      <ul class="list-unstyled" style="font-size: 15pt" "text-align: right">
        <h5><li>Sales Price<li></h5>	
        <li>Quart	&nbsp &nbsp 	&nbsp  $15.00</li>
        <li>Gallon	&nbsp &nbsp &nbsp  $45.00</li>
        <li>5 Gallon	&nbsp $149.75</li>
      </ul>
    </div>  
  </div> 
</div>
</center>
