<div class="row">
  <center>
    <div class="col-md-10">
      <h1><p class="shadow_big">This Month's Sales Flyer</p1></h1>
        <h2 style="color: red">25% off</h2>
          <h5>(list price in stock items)</h5>
    </center>
    </div>
</div>


<center>
<div class="row">
  <div class="col-md-6"><h3>Polyester Resin Adhesives</h3>	
  </div>
  <div class="col-md-3"><h3>Silicon Carbide</h3>
  </div>
  
  <div class="col-md-6">
    <div class="pad">
      <h4 style="color: rgb(5, 84, 156)">ATS KG & Flowing</h4>
      <ul class="list-unstyled" style="font-size: 15pt">
        <h5><li>Sales Price</li></h5>	
        <li>Quart	&nbsp &nbsp 	&nbsp  $15.00</li>
        <li>Gallon	&nbsp &nbsp &nbsp  $45.00</li>
        <li>5 Gallon	&nbsp $149.75</li>
      </ul>
    </div>  
  </div> 
  
  <div class="col-md-3">
    <div class="pad">
      <h4 style="color: rgb(5, 84, 156)">Grinding Stones</h4>
      <ul class="list-unstyled" style="font-size: 15pt">
        <h5><li>Sales Price</li></h5>	
        <li>4" Black	&nbsp &nbsp 	&nbsp  $10.50</li>
        <h6><li>(grits: 16 24 36 46 60 80 120 220)</li></h6>
        <li>5" Black	&nbsp &nbsp 	&nbsp  $12.00</li>
        <h6><li>(grits: 24 36 60 80 120)</li></h6>
      </ul>
    </div>  
  </div> 

<div class="col-md-6">
    <div class="pad">
      <h4 style="color: rgb(5, 84, 156)">ATS KG & Flowing</h4>
      <ul class="list-unstyled" style="font-size: 15pt">
        <h5><li>Sales Price</li></h5>	
        <li>Quart	&nbsp &nbsp 	&nbsp  $15.00</li>
        <li>Gallon	&nbsp &nbsp &nbsp  $45.00</li>
        <li>5 Gallon	&nbsp $149.75</li>
      </ul>
    </div>  
  </div> 
  
  <div class="col-md-3">
    <div class="pad">
      <h4 style="color: rgb(5, 84, 156)">Grinding Stones</h4>
      <ul class="list-unstyled" style="font-size: 15pt">
        <h5><li>Sales Price</li></h5>	
        <li>4" Black	&nbsp &nbsp 	&nbsp  $10.50</li>
        <h6><li>(grits: 16 24 36 46 60 80 120 220)</li></h6>
        <li>5" Black	&nbsp &nbsp 	&nbsp  $12.00</li>
        <h6><li>(grits: 24 36 60 80 120)</li></h6>
      </ul>
    </div>  
  </div> 
  
<div class="col-md-6">
    <div class="pad">
      <h4 style="color: rgb(5, 84, 156)">ATS KG & Flowing</h4>
      <ul class="list-unstyled" style="font-size: 15pt">
        <h5><li>Sales Price</li></h5>	
        <li>Quart	&nbsp &nbsp 	&nbsp  $15.00</li>
        <li>Gallon	&nbsp &nbsp &nbsp  $45.00</li>
        <li>5 Gallon	&nbsp $149.75</li>
      </ul>
    </div>  
  </div> 
  
  <div class="col-md-3">
    <div class="pad">
      <h4 style="color: rgb(5, 84, 156)">Grinding Stones</h4>
      <ul class="list-unstyled" style="font-size: 15pt">
        <h5><li>Sales Price</li></h5>	
        <li>4" Black	&nbsp &nbsp 	&nbsp  $10.50</li>
        <h6><li>(grits: 16 24 36 46 60 80 120 220)</li></h6>
        <li>5" Black	&nbsp &nbsp 	&nbsp  $12.00</li>
        <h6><li>(grits: 24 36 60 80 120)</li></h6>
      </ul>
    </div>  
  </div> 
  
</div>

<center>
  <h3 class="shadow">Come visit our showroom to view our selection of sinks,<br>
     stone tools and supplies at:</h3>
    <h3 style="color: red">50 Rio Grande Blvd, Denver CO</h3>
      <h4>Or call Jack at 720-363-0163</h4>

</center>