<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ats.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <body class: "body_b">
      <nav class="navbar navbar-inverse" role="navigation">
        <p class="ats_header">Action Tool & Supply</p>   
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <a class="btn btn-default" href='/'>Home</a>
              <a class="btn btn-primary" href='/Diamond Products'>Diamond Products</a>
              <a class="btn btn-primary" href='/Safety Equipment'>Safety Equipment</a>
              <a class="btn btn-primary" href='/Sand Paper'>Sand Paper</a>
              <a class="btn btn-primary" href='/Glues & Sealer'>Glues & Sealer</a>
              <a class="btn btn-primary" href='/Wet & Dry Pads'>Wet & Dry Pads</a>
              <a class="btn btn-primary" href='/other'>Other</a>
              <a class="btn btn-default" href='/contact'>Contact Us</a>
            </div>   
          </form>
      </nav>   
      
 
        <%= yield %>
            

       
      <nav class="navbar navbar-default navbar-static-bottom" role="navigation">
        <p class="ats_footer">e-mail: &nbsp ats.biz@live.com</p>
      </nav>
    </body>
</html>