<link rel="stylesheet" type="text/css"
      href="/stylesheets/ats.css">
    
<link rel="stylesheet" type="text/css"
      href="/stylesheets/bootstrap.css">

<nav class="navbar navbar-inverse" role="navigation">
  <p class="ats_header">Action Tool & Supply</p>  
    <div class="container"> 
   
  <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>       
  </form>
  <form class="navbar-form navbar-left">
        <div class="form-group">
          <button type="button" class="btn btn-default">Home</button> 
          <button type="button" class="btn btn-primary">Diamond</button>
          <button type="button" class="btn btn-primary">Safety</button>
          <button type="button" class="btn btn-primary">Other</button>
          <button type="button" class="btn btn-default">Contact Us</button>
        </div>      
  </form>
    </div>
</nav>

<br></br>

      <%= yield %>

<hr>

<p>e-mail us at: ats.biz@live.com</p>
