<div class="ats_header_b">
  <%= @header %>
</div>

<div class="pad_col">
<div class="row">
  <% @products.each do |p| %>
  <div class="col-md-5">
    <table>
    <!-- below will be replaced with p.image in the future --!>
      <th><img src="/images/sample02.jpg/" width="120" height="120"></img></th>
        <td style="text-indent:50px">
          <b><h3 style="color: rgb(197,32,32)"><%= p.name.upcase %></h3></b>
          <center><b><p style="color=black">$<%= p.price %></p></b></center>
          <center><h4><p><%= p.description %></p></h4></center>
        </td>
    </table>             
  </div> 
  <% end %> 
</div>
</div>




    