
<h2 style="color: rgb(88,82,82)"><center><%= @tool.name %></center></h2>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6" "col-sm-6">
<div class="jumbotron">
<% Product.order(:id).each do |p| %>
  <table>
    <th><img src="/images/sample02.jpg/" width="120" height="120"></img></th>
      <td style="text-indent:50px">
        <h3 style="color: rgb(197,32,32)"><%= p.name.upcase %></h3>
        <h4 style="color=black">$<%= p.price %></h4>
        <h5><%= p.description %></h5>
      </td> 
<% end %> 
  </table>
</div>
</div>
</div>
</div>
